@font-face {
  font-family: "PokemonSolid";
  src: url("./assets/Pokemon_Solid.ttf") format("truetype");
}

body {
  padding: 0;
  margin: 0;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header {
  font-family: "PokemonSolid";
  font-size: 8rem;
}

.pokemon-card {
  width: 200px;
  height: 300px;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #f9f9f9;
  margin: 20px;
  padding-top: 20px;

  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  transform: scale(1); /* Default state */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pokemon-card:hover {
  transform: scale(1.05); /* Scale up slightly on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Larger shadow for depth */
  border-color: orange;
}

.image-container {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 6px;
  height: 200px;
}

.pokemon-image {
  width: 100%;
  height: auto;
  display: block;
}

.pokemon-info {
  padding: 10px;
  background-color: #e0f2f1;
  border-top: solid 1px black;
}

.pokemon-name {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.type-icon {
  width: 30px;
  height: 30px;
}

.type-icon {
  transition: transform 0.3s ease;
}

.pokemon-card:hover .type-icon {
  transform: rotate(360deg); /* Rotate the type icon on card hover */
}
